<div>
  <div id="heading">
    <img src="images\{{imagepath}}"/>
    <h1>My Account</h1>
    <div id="accInfo">
      <p>Name: {{username}}</p>
      <p>Date of Birth: </p>
      <p>Gender: </p>
      <p>Role: </p>
      <p>Git: </p>
      <p>Date Joined: </p>
    </div>
  </div>
  <button *ngIf="username" (click)="logout()" class="logout">Logout</button>
  <input type="file" (change)="onFileSelected($event)" name="uploadfile" id="uploadfile"/>
  <button type="button" (click)="onUpload()">Change Profile Image</button>
  <div id="desc">
    <div id="text">
      <h1>Description</h1>
      <p>This is a sample description</p>
    </div>
  </div>
</div>
